<!--
<ion-header>

    <ion-navbar>
        <button ion-button small clear (click)="goBack()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>排名</ion-title>
    </ion-navbar>
    <div class="nav">
        <ion-segment [(ngModel)]="showType" color="primary" (ionChange)="showWhat()">

            <ion-segment-button value="weekData">
                本週排行榜
            </ion-segment-button>
            <ion-segment-button value="todayData">
                今天排行榜
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>


<ion-content>



    <div [hidden]="showType !='weekData'" >

        <ion-list *ngFor="let data of weekData ">
            <ion-item>
               order id: {{data.FIELD3}},
               order amount: {{data.FIELD4}},
               order date: {{data.FIELD5}},
               got points: {{data.FIELD6}},
               scan date: {{data.DATETIME}},

            </ion-item>

        </ion-list>

    </div>

    <div [hidden]="showType !='todayData'" >

        <ion-list *ngFor="let data of dayData ">
            <ion-item>
                order id:  {{data.field3}},
                order amount: {{data.field4}},
                order date: {{data.field5}},
                got points: {{data.field6}},
                scan date: {{data.datetime}},

            </ion-item>


        </ion-list>
    </div>


</ion-content>
-->


<ion-header>

    <ion-navbar>
        <button ion-button small clear (click)="goBack()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>我的積分</ion-title>
    </ion-navbar>
    <div class="bottom">
        <p class="p1">{{myTotal}}</p>
        <p class="p2">可兌換積分</p>
        <a class="a1" (click)="toCash()">立即兌換</a>
    </div>

</ion-header>


<ion-content>
    <ion-card class="card-list">

        <ion-card-header>
            <span>分數</span>
            <span>日期</span>
            <span>狀態</span>
        </ion-card-header>

        <ion-card-content>
            <!--<ion-row>-->
                <!--<ion-col col-3>999分</ion-col>-->
                <!--<ion-col col-6 text-center>2018-10-12 19:20:25</ion-col>-->
                <!--<ion-col col-3 text-right class="color">已入賬</ion-col>-->
            <!--</ion-row>-->
            <ion-row *ngFor="let data of myData">
                <ion-col col-3>{{data.field4}}分</ion-col>
                <ion-col col-6 text-center>{{data.datetime}}</ion-col>
                <ion-col col-3 text-right [ngClass]="data.status==1?'':'color'" >{{data.status==1?'待入賬':'已入賬'}}</ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>

    <!--<div  >-->

        <!--<ion-list *ngFor="let data of weekData ">-->
            <!--<ion-item>-->
                <!--order id: {{data.FIELD3}},-->
                <!--order amount: {{data.FIELD4}},-->
                <!--order date: {{data.FIELD5}},-->
                <!--got points: {{data.FIELD6}},-->
                <!--scan date: {{data.DATETIME}},-->

            <!--</ion-item>-->

        <!--</ion-list>-->

    <!--</div>-->



</ion-content>
