page-trxdata {
  > .header{
    > .nav{
      background-color: #fff;
      .segment-button{
        border: 0; color: #999; height: 3.8rem; line-height: 3.6rem; border-right: 1px solid #eee; border-radius: 0; font-size: 1.4rem;
        &:last-child{border-right: 0;}
        &.segment-activated{background-color: #fff; color: #cc3333; border-bottom: 2px solid #cc3333;}
      }
    }
  }
  > .content{
    background-color: #f3f3f3;
    .charts{
      position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; flex-direction: column; padding: 10px;
      > .chart{flex: 1; background-color: #fff; border-radius: 6px;}
      > .solid{height: 10px;}
    }
    .deaList{
      margin: 0;
      .card{
        background: url("../assets/imgs/charts_bg.png") no-repeat top right; background-size: cover; box-shadow: none; border: 1px solid #eaeaea; border-radius: 6px; padding: 10px; padding-right: 0; display: flex; justify-content: space-between;
        p{margin: 0;}
        .left{
          .p1{color: #6e8bff;}
          .p2{color: color($colors,primary); margin-bottom: 5px; margin-top: 2px;}
          .p3{
            font-size: 1.2rem; margin-top: 4px;
            .span1{color: #333;}
          }
        }
        .right{
          width: 128px; display: flex; align-items: center;
          > div{
            flex: 1px; padding: 0 10px;
            p{
              display: flex; font-size: 1.2rem; color: #333; margin-bottom: 2px;
              .span1{text-align: right; flex: 5; white-space: nowrap;}
              .span2{line-height: 1.6rem; flex: 4;}
            }
            .top{border-bottom: 1px solid #eaeaea;}
            .bottom{
              p{margin-bottom: 0; margin-top: 4px; color: color($colors,primary);}
            }
          }
        }
      }
    }
  }
}
