page-trxdata {
  > .header{
    > .nav{
      background-color: #fff;
      .segment-button{
        border: 0; color: #999; height: 3.8rem; line-height: 3.6rem; border-right: 1px solid #eee; border-radius: 0; font-size: 1.4rem;
        &:last-child{border-right: 0;}
        &.segment-activated{background-color: #fff; color: #cc3333; border-bottom: 2px solid #cc3333;}
      }
    }
  }
  > .content{
    background-color: #f3f3f3;
    .charts{
      position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; flex-direction: column; padding: 10px;
      > .chart{flex: 1; background-color: #fff; border-radius: 6px;}
      > .solid{height: 10px;}
    }
    .deaList{
      margin: 0;
      .card{
        background: url("../assets/imgs/charts_bg.png") no-repeat top right; background-size: cover; box-shadow: none; border: 1px solid #eaeaea; border-radius: 6px; padding: 10px; padding-right: 0; display: flex; justify-content: space-between;
        p{margin: 0;}
        .left{
          .p1{color: #6e8bff;}
          .p2{color: color($colors,primary); margin-bottom: 5px; margin-top: 2px;}
          .p3{
            font-size: 1.2rem; margin-top: 4px;
            .span1{color: #333;}
          }
        }
        .right{
          width: 128px; display: flex; align-items: center;
          > div{
            flex: 1px; padding: 0 10px;
            p{
              display: flex; font-size: 1.2rem; color: #333; margin-bottom: 2px;
              .span1{text-align: right; flex: 6; white-space: nowrap;}
              .span2{line-height: 1.6rem; flex: 4; white-space: nowrap;}
            }
            .top{border-bottom: 1px solid #eaeaea; padding-bottom: 2px;}
            .bottom{
              p{margin-bottom: 0; margin-top: 6px; color: color($colors,primary);}
            }
          }
        }
      }
    }
  }
  #filterMenu{
    background: rgba(0,0,0,0.6);
    .scroll-content{
      padding: 15px;
      .p1{font-size: 1.5rem; margin-bottom: 25px;}
      .p2{color: #666; font-size: 1.3rem; margin-top: 20px;}
      .input1{
        border: 1px solid #e5e5e5; border-radius: 4px;
        .text-input{margin: 8px;}
      }
      .div1{
        display: flex;
        .input2{
          border: 1px solid #e5e5e5; flex: 1px; padding: 8px; border-radius: 4px;
          .datetime-text{height: 1.1em; min-height: auto;}
        }
        .solid{margin: 0 5px; padding-top: 8px; color: #e5e5e5;}
      }
      .ul1{
        display: flex; justify-content: space-between; flex-wrap: wrap;
        li{
          width: 46%; padding: 7px 0; background-color: #f1f1f1; margin-bottom: 10px; text-align: center; border-radius: 4px;
          &.select{
            background: url("../assets/imgs/select_red.png") no-repeat top right #ffe3e4; color: color($colors,primary); background-size: 12px;
          }
        }
      }
      .button1{margin-top: 50px;}
    }
  }
}
