<ion-header>
    <ion-navbar>
        <button ion-button small clear (click)="goBack()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>交易報表</ion-title>
        <button ion-button small clear>
            <span [menuToggle]="activeMenu">篩選</span>
            <!--<ion-icon ios="ios-funnel-outline"></ion-icon>-->
        </button>
    </ion-navbar>
    <div class="nav">
        <ion-segment [(ngModel)]="showType" (ionChange)="showWhat()">

            <ion-segment-button value="posData">
                V/M/CUP交易
            </ion-segment-button>
            <ion-segment-button value="wechatData">
                微信交易
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>


<ion-content>


    <div [hidden]="showType !='posData'" >
        <!--<ngx-datatable-->
        <!--[rows]="rows"-->

        <!--[columns]="columns" [columnMode]="'force'" [reorderable]="false" class="bootstrap">-->
        <!--</ngx-datatable>-->
        <ion-list class="deaList" *ngFor="let data of DapaData ">
            <ion-card>
                <div class="left">
                    <p class="p1">{{data.cardNo.substr(0,1)=='4'?'VISA':(data.cardNo.substr(0,1)=='5'?'MASTER':'CUP')}}</p>
                    <p class="p2">{{data.cardNo.substr(0,4)}}********{{data.cardNo.substr(-4)}}</p>
                    <p class="p3">清算日期：<span class="span1">{{data.setDate.substr(0,4)}}-{{data.setDate.substr(4,2)}}-{{data.setDate.substr(6,2)}}</span></p>
                    <p class="p3">交易日期：<span class="span1">{{data.txnDate.substr(0,4)}}-{{data.txnDate.substr(4,2)}}-{{data.txnDate.substr(6,2)}} {{data.txnTime.substr(0,2)}}:{{data.txnTime.substr(2,2)}}:{{data.txnTime.substr(4,2)}}</span></p>
                    <p class="p3">授權賬號：<span class="span1">{{data.authCode}}</span></p>
                    <p class="p3">流水：<span class="span1">{{data.transactionRef}}</span></p>
                </div>
                <div class="right">
                    <div>
                        <div class="top">
                            <p><span class="span1">消費金额：</span><span class="span2">{{data.txnAmount/100}}</span></p>
                            <p><span class="span1">小费金额：</span><span class="span2">0.00</span></p>
                            <p><span class="span1">總金額：</span><span class="span2">{{data.txnAmount/100}}</span></p>
                            <p><span class="span1">手續費：</span><span class="span2">{{data.feeAmount}}</span></p>
                        </div>
                        <div class="bottom">
                            <p><span class="span1">凈收金額：</span><span class="span2">{{data.txnAmount/100 - data.feeAmount}}</span></p>
                        </div>
                    </div>
                </div>
            </ion-card>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </div>

    <div [hidden]="showType !='wechatData'" >
        <!--<ngx-datatable
                [rows]="rows"

                [columns]="columns" [columnMode]="'force'" [reorderable]="false" class="bootstrap">
        </ngx-datatable>-->
        <ion-list class="deaList" *ngFor="let data of WechatData ">
            <ion-card>
                <div class="left">

                    <p class="p3">金額：<span class="span1">{{data.AMOUNT}}</span></p>
                    <p class="p3">類型：<span class="span1">{{data.TRANSTYPE}}</span></p>
                    <p class="p3">時間：<span class="span1">{{data.TRANSTIME}}</span></p>
                    <p class="p3">微信訂單號：<span class="span1">{{data.ALIPAY_ORDER}}</span></p>
                    <p class="p3">參考號：<span class="span1">{{data.REFNO}}</span></p>
                </div>

            </ion-card>
        </ion-list>
    </div>


</ion-content>

<ion-menu side="right" type="overlay" [content]="content" id="filterMenu" menuClose="filterMenu">

    <ion-content (click)="$event.stopPropagation()">
        <p class="p1">篩選</p>
        <p class="p2">消費金額</p>
        <ion-input class="input1" type="number" placeholder="請輸入消費金額" #filteramount></ion-input>
        <p class="p2">流水號</p>
        <ion-input class="input1" type="tel" placeholder="請輸入流水號" #filtertrxno></ion-input>
        <p class="p2">交易日期</p>
        <div class="div1">
            <ion-datetime class="input2" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="tradeDate1" ></ion-datetime>
            <div class="solid">ㅡ</div>
            <ion-datetime class="input2" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="tradeDate2"></ion-datetime>
        </div>
        <p class="p2">交易方式</p>
        <ul class="ul1">
            <li [class]="cpuClick?'select':''" (click)="cpuSelect()">CPU</li>
            <li [class]="visaClick?'select':''" (click)="visaSelect()">VISA</li>
            <li [class]="masterClick?'select':''" (click)="masterSelect()">MasterCard</li>
            <!--<li>微信交易</li>-->
        </ul>

        <button class="button1" ion-button color="primary" block  menuClose="filterMenu"
                (click)="doFilter(filteramount.value,filtertrxno.value)">確定</button>

    </ion-content>

</ion-menu>
<ion-nav #content swipeBackEnabled="false"></ion-nav>


