<ion-header>
    <ion-navbar>
        <button ion-button small clear (click)="dismiss()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>积分列表</ion-title>
        <button ion-button small clear (click)="goMachineRequest()">
            <ion-icon ios="md-add"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
	<div padding>
		<ion-segment [(ngModel)]="tabs">
			<ion-segment-button value="jifen">
				积分
			</ion-segment-button>
			<ion-segment-button value="history">
				积分历史明细
			</ion-segment-button>
		</ion-segment>
	</div>
	<div [ngSwitch]="tabs">
		<ion-list *ngSwitchCase="'jifen'">
			<ion-item class="item item-block item-ios" *ngFor="let item of items" >
				{{item.orderid}}
			</ion-item>
			<ion-item>
				积分总计：{{pointsnum}}
			</ion-item>
			<ion-item>
				<ion-label>积分兑现</ion-label>
				<ion-input name="mobile" placeholder="請輸入卡号" type="number"  #cardno ></ion-input>
			</ion-item>
			<div padding>
				<button ion-button color="primary" (click)="submitForm()" *ngIf="notSubmitted" block>提交</button>
			</div>
			<div class="helper" *ngIf="notSubmitted" >
				可以返回到首页继续扫描二维码，累计积分一次提交换钱
			</div>
		</ion-list>
		
		<ion-list *ngSwitchCase="'history'">
			<ion-item *ngFor="let item of list" >
				{{item.orderid}}
			</ion-item>
		</ion-list>
	</div>
</ion-content>
