page-machine {
	.content{
		background-color: #f3f3f3;
		.item_list{
			padding: 0 10px; margin: 0;
			.item{
				border: 0; border-radius: 8px; margin-top: 10px; border: 1px solid #eaeaea; font-size: 1.4rem; color: #666;
				.item-inner{
					border: 0; padding-right: 0;
					.left{
						padding: 3px 0;
						.p1{font-size: 1.5rem; color: #333;}
						.p2{font-size: 1.3rem; color: #666; margin-top: 5px;}
					}
					.right{

					}
				}
			}
		}
	}
}
