<ion-header>
  <ion-navbar>
    <button ion-button start (click)="goBack()">返回</button>
    <ion-title>机器问题报修</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>问题类型</ion-label>
      <ion-select class="select select-ios ng-pristine ng-valid ng-touched" #machinerequesttype >
		<ion-option *ngFor="let item of items" value="{{item}}" >{{item}}</ion-option>
	  </ion-select>
    </ion-item>
	<ion-item>
      <ion-label floating>机器编号</ion-label>
      <ion-input type="text" #machineno ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>机器名称</ion-label>
      <ion-input type="text" #machineapplyname ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>联系电话</ion-label>
      <ion-input type="text" #machineapplymobile ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>机器问题描述</ion-label>
      <ion-input type="text" #machinerequestdesc ></ion-input>
    </ion-item>
	<ion-item>
		<button ion-button (click)="openCamera()" >拍照/附件</button>
		<div *ngIf="needView" class="pic-wrapper" >
			<img [src]="base64Image" width="100" height="100" />
		</div>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button color="primary" (click)="submitForm()" block>提交</button>
  </div>

</ion-content>
