page-wrongtrx {
  > .header{
    > .nav{
      background-color: #fff;
      .segment-button{
        border: 0; color: #999; height: 3.8rem; line-height: 3.8rem; border-right: 1px solid #eee; border-radius: 0; font-size: 1.4rem;
        &:last-child{border-right: 0;}
        &.segment-activated{background-color: #fff; color: #cc3333; border-bottom: 2px solid #cc3333;}
      }
    }
  }
  > .content{
    background-color: #f3f3f3;
    .input_list{
      padding: 10px; border-radius: 40px; overflow: hidden;
      .item{
        font-size: 1.4rem; border: 0; padding-right: 16px;
        .item-inner{
          padding: 0; background: transparent; border-bottom: 1px solid #eeeeee;
          .text-input{text-align: right; margin-right: 0; margin-left: 22px;}
        }
        &:last-child .item-inner{border-bottom: 0;}
      }
    }
  }
}
