page-setup {
  .header{
    .bottom{
      text-align: center;
      .image1{width: 60px; margin-top: 8px;}
      .p1{margin-top: 8px; margin-bottom: 15px; color: #fff;}
    }
  }
  .content{
    background-color: #f3f3f3;
    .item_list{
      padding: 0 10px; margin: 0;
      .item{
        border-radius: 6px; margin-top: 10px; font-size: 1.4rem; min-height: 4rem; border: 1px solid #eaeaea;
      }
    }
  }
  .button1{position: absolute; width: calc(100% - 20px); margin: 0 10px; bottom: 20px;}
}
