<ion-header>
  <ion-navbar>
    <ion-title (click)="jpushDebug()">我的信息</ion-title>
    <!-- <button ion-button small clear (dbclick)="speak()">
      speak
    </button> -->
  </ion-navbar>
  <div class="bottom">
    <img src="assets/imgs/head_me.png" class="image1">
    <p class="p1">{{User}} &nbsp;&nbsp;&nbsp; {{Mobile}}</p>
  </div>
</ion-header>

<ion-content>
  <ion-list no-lines class="item_list" *ngIf="isUserMgt">
    <button ion-item (click)="openUserMgt()">
      用戶管理
    </button>
  </ion-list>
  <ion-list no-lines class="item_list" *ngIf="isShopList">
    <button ion-item (click)="openMerchantSet()">
      商戶設置
    </button>
  </ion-list>
  <div class="version">version {{nowVersion}}</div>
  <button class="button1" block ion-button color="primary" (click)="loginOut()">退出登錄</button>
</ion-content>
