page-home {
	.page-home-header{
		> .grid1{
			background: url("../assets/imgs/index_header.png") no-repeat center; background-size: cover; padding-bottom: 20px;
			.row1{
				.searchbar-ios{
					background:transparent; border:0; padding: 0; min-height: auto; margin-top: 12px;
					.searchbar-input-container{
						border-bottom: 1px solid #f4a5a8; padding-bottom: 8px;
						.searchbar-search-icon{background-size: 17px; left: 8px; top: 1px;}
						.searchbar-input{background-color: transparent; height: auto; padding: 0; padding-left: 32px; color: #fff;}
					}
				}
			}
			.row2{
				margin-top: 17px;
				.col{
					text-align: center; color: #fff;
					.top{
						position: relative;
						.image1{width: 26px;}
						.title{position: absolute; left: 54%; top: 14px; display: block; background-color: #5bc994; color: #fff; font-size: 12px; border-radius: 25px; padding: 1px 4px; transform: scale(0.88);}
					}
					.bottom{margin: 0;}
				}
			}
			.row3{
				margin-top: 12px;
				.col{
					.news{
						border-radius: 6px; padding: 7px 5px 7px 36px; color: #666; background: url("../assets/imgs/index_news.png") no-repeat left 10px center #fff; background-size: 16px;
						.span2{display: inline-block; white-space:nowrap; text-overflow:ellipsis; overflow: hidden; vertical-align: top; margin-right: -80px; padding-right: 80px; width: 100%;}
					}
				}
			}
		}
		> .grid2{
			margin: 0 10px; width: auto; border-radius: 6px; background-color: #fff; margin-top: -16px; box-shadow: 5px 0 20px -4px #f1e7e4,-5px 0 20px -4px #f1e7e4,0 5px 10px -4px #f1e7e4;
			.row1{
				.col{
					.circle{color: #ff0000; margin-right: 5px;}
				}
			}
			.row2{
				.col{
					text-align: center; color: #666; padding: 10px 0;
					.top{
						.image1{height: 32px;}
					}
					.bottom{margin: 0; margin-top: 5px;}
				}
			}
		}
	}
	.page-home-content{

	}
}
