page-home {
	.page-home-header{
		padding-top: 0; background: transparent;
		.grid1{
			background: url("../assets/imgs/index_header.png") no-repeat center; background-size: cover; padding-top: 24px;
			.row1{
				.searchbar-ios{
					background:transparent; border:0; padding: 0; min-height: auto; margin-top: 12px;
					.searchbar-input-container{
						border-bottom: 1px solid #f4a5a8; padding-bottom: 8px;
						.searchbar-search-icon{background-size: 17px; left: 8px; top: 1px;}
						.searchbar-input{background-color: transparent; height: auto; padding: 0; padding-left: 32px; color: #fff;}
					}
				}
			}
			.row2{
				margin-top: 17px;
				.col{
					text-align: center; color: #fff;
					.top{
						position: relative;
						.image1{height: 26px;}
						.title{position: absolute; left: 54%; top: 14px; display: block; background-color: #5bc994; color: #fff; font-size: 12px; border-radius: 25px; padding: 1px 4px; transform: scale(0.88);}
					}
					.bottom{margin: 0;}
				}
			}
			.row3{
				margin-top: 12px; margin-bottom: -26px;
				.col{
					.news{
						border-radius: 6px; padding: 8px 5px 8px 36px; color: #666; background: url("../assets/imgs/index_news.png") no-repeat left 10px center #fff; background-size: 16px;  box-shadow: 0 2px 10px 0px #e4d6d1;
						.span2{display: inline-block; white-space:nowrap; text-overflow:ellipsis; overflow: hidden; vertical-align: top; margin-right: -80px; padding-right: 80px; width: 100%;}
					}
				}
			}
		}
	}
	.page-home-content{
		background-color: #f3f3f3;
		.scroll-content{padding-top: 14px;}
		.grid2{
			margin: 10px 10px 0; width: auto; border-radius: 6px; background-color: #fff; box-shadow: 0 0 0 1px #f1e7e4;
			.row1{
				.col{
					.circle{color: #ff0000; margin-right: 5px;}
					.circle2{color: #ff8c3f; margin-right: 5px;}
				}
			}
			.row2{
				.col{
					text-align: center; color: #666; padding: 10px 0;
					.top{
						position: relative;
						.image1{height: 32px;}
						.title{
							position: absolute; left: 52%; top: 20px; display: block; background-color: #ffbe4d; color: #fff; font-size: 12px; border-radius: 25px; padding: 1px 4px; transform: scale(0.88);
							&.color{background-color: #b3b3b3;}
						}
					}
					.bottom{margin: 0; margin-top: 5px;}
				}
			}
		}
	}
	.btn-disable{
		pointer-events: none;
		opacity:0.5;
	}
}
