
<ion-header>

    <ion-navbar>
        <button ion-button small clear (click)="goBack()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>排行榜</ion-title>
    </ion-navbar>
    <div class="nav">
        <ion-segment [(ngModel)]="showType" color="primary" (ionChange)="showWhat()">

            <ion-segment-button value="weekData">
                本週排行榜
            </ion-segment-button>
            <ion-segment-button value="todayData">
                今天排行榜
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>


<ion-content>



    <div [hidden]="showType !='weekData'" >

        <div *ngIf="myWeekData == undefined">本週暫無排名</div>
        <div *ngIf="myWeekData != undefined">你當前排名：{{myWeekData.R_POINTS}},
            ****{{myWeekData.MOBILE.substr(-4)}},
            {{myWeekData.SUM_POINTS}}</div>
        <ion-list *ngFor="let data of weekData ">

            <ion-item>
                {{data.R_POINTS}},
                ****{{data.MOBILE.substr(-4)}},
                {{data.SUM_POINTS}}
            </ion-item>
        </ion-list>

    </div>

    <div [hidden]="showType !='todayData'" >
        <div *ngIf="myDayData == undefined">今天暫無排名</div>
        <div *ngIf="myDayData != undefined">你當前排名：{{myDayData.R_POINTS}},
            ****{{myDayData.MOBILE.substr(-4)}},
            {{myDayData.SUM_POINTS}}</div>
        <ion-list *ngFor="let data of dayData ">

            <ion-item>
                {{data.R_POINTS}},
                ****{{data.MOBILE.substr(-4)}},
                {{data.SUM_POINTS}}
            </ion-item>
        </ion-list>
    </div>


</ion-content>


