reward-ranking{
  > .header{
    > .nav{
      background-color: #fff;
      .segment-button{
        border: 0; color: #999; height: 3.8rem; line-height: 3.8rem; border-right: 1px solid #eee; border-radius: 0; font-size: 1.4rem;
        &:last-child{border-right: 0;}
        &.segment-activated{background-color: #fff; color: #cc3333; border-bottom: 2px solid #cc3333;}
      }
    }
  }
  > .content{
    background-color: #f3f3f3;
    .grid{
      padding: 0 10px;
      .col{padding: 0;}
      .row1{
        background-color: #fff; margin-top: 10px; display: flex; align-items: center; height: 48px; border-radius: 6px;
        .image1{width: 14px; vertical-align: bottom; margin-right: 15px;}
      }
      .div1{
        background-color: #fff; margin-top: 10px; border-radius: 6px;
        .row{
          display: flex; align-items: center; height: 46px; position: relative;
          .colorRed{color: #f0666b;}
          &::after{content: "";display: block;border-bottom: 1px solid #eee;position: absolute;bottom: -1px;left: 10px;right: 10px;}
        }
      }
    }
  }
}