<ion-header>
  <ion-navbar>
    <button ion-button small clear (click)="goBack()">
      <ion-icon ios="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>退款</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="input_list">

    <ion-item>
      <ion-label>商戶名稱</ion-label>
      <ion-input type="text" placeholder="請輸入商戶名稱" #merchantname ></ion-input>
    </ion-item>
	<ion-item>
      <ion-label>部门名稱</ion-label>
      <ion-input type="text" placeholder="請輸入部门名稱" #departmentname ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>退款卡號</ion-label>
      <ion-input type="text" placeholder="請輸入退款卡號" #refundcardno4 ></ion-input>
    </ion-item>
    <button ion-item class="item-ios" >
      <ion-label>交易日期</ion-label>
	  <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="tradeDate"></ion-datetime>
      <!-- <ion-input type="text" #trxdate ></ion-input> -->
    </button>
    <ion-item>
      <ion-label>授權號</ion-label>
      <ion-input type="text" placeholder="請輸入授權號" #authno ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>原交易金額</ion-label>
      <ion-input type="text" placeholder="請輸入原交易金額" #trxamount ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>退款金額</ion-label>
      <ion-input type="text" placeholder="請輸入退款金額" #refundamount ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>NAME</ion-label>
      <ion-input type="text" placeholder="請輸入NAME" #name ></ion-input>
    </ion-item>
	<ion-item>
      <ion-label>MOBILE</ion-label>
      <ion-input type="text" placeholder="請輸入MOBILE" #applymobile ></ion-input>
    </ion-item>
	<ion-item>
		<button ion-button (click)="openCamera()" >拍照</button>
		<div *ngIf="needView" class="row" >
			<div class="pic-wrapper" *ngFor="let picture of pictures;let i = index" >
				<img [src]="picture" />
				<div class="delete" (click)="delPic(i)" >x</div>
			</div>
		</div>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button color="primary" (click)="submitForm()" block>提交</button>
  </div>

</ion-content>
