page-commonrefund {
	.content{
		background-color: #f3f3f3;
		.input_list{
			padding: 10px; border-radius: 40px; overflow: hidden;
			.item{
				font-size: 1.4rem; border: 0; padding-right: 16px;
				.item-inner{
					padding: 0; background: transparent; border-bottom: 1px solid #eeeeee;
					.text-input{text-align: right; margin-right: 0; margin-left: 22px;}
				}
				&:last-child .item-inner{border-bottom: 0;}
			}
		}
	}
}
