<ion-header>
  <ion-navbar>
    <button ion-button small clear (click)="goBack()">
      <ion-icon ios="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>調單详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="input_list">
    <ion-item>
      <div class="fl">調單日期</div>
      <div class="fr">2018.06.22</div>
    </ion-item>
    <ion-item>
      <div class="fl">調單原因</div>
      <div class="fr">Chargeback Request</div>
    </ion-item>
    <ion-item>
      <div class="fl">MID</div>
      <div class="fr">62052345678909146</div>
    </ion-item>
    <ion-item>
      <div class="fl">交易金額</div>
      <div class="fr">2000 元</div>
    </ion-item>
    <ion-item>
      <div class="fl">交易日期</div>
      <div class="fr">2018.06.22</div>
    </ion-item>
    <ion-item>
      <div class="fl">授權號</div>
      <div class="fr">12345678</div>
    </ion-item>
    <ion-item class="datum">
      <div class="top">请您勿必在<span class="colorRed">2018年6月30日</span>前上传提交以下资料:</div>
      <div class="bottom">
        <div class="div1" (click)="fleg = true"><img src="assets/imgs/radio_{{fleg?'yes':'no'}}.png" class="image1">交易單據</div>
        <div class="div1" (click)="fleg = false"><img src="assets/imgs/radio_{{fleg?'no':'yes'}}.png" class="image1">其他相關文件，如發票等</div>
      </div>
    </ion-item>
  </ion-list>
  <ion-list class="input_list">
    <ion-item class="camera">
      <div class="top">拍照<img class="fr" src="assets/imgs/camera.png" alt="拍照" (click)="openCamera()"></div>
      <ul class="bottom">
        <li *ngFor="let pic of item.pictures;let i = index">
          <img class="image1" [src]="pic.data" (click)="showPicture(i)" />
          <img class="delete" src="assets/imgs/close_red.png" alt="關閉" (click)="delPic(i)">
        </li>
        <li class="li2" *ngFor="let pic of polishingPic(item.pictures)">
          <img src="assets/imgs/camera_img.png" class="image2" />
        </li>
      </ul>
    </ion-item>
  </ion-list>
  <ion-list class="input_list">
    <ion-item class="explain">
      <div class="top">补充说明 <span class="colorRed">(非必填项)</span></div>
      <div class="bottom">
        <textarea class="textarea1" rows="3" placeholder="請輸入內容"></textarea>
      </div>
    </ion-item>
  </ion-list>

  <div padding margin-top>
    <button ion-button color="primary" block>提交</button>
  </div>
</ion-content>