<ion-header>
  <ion-navbar>
    <button ion-button small clear (click)="goBack()">
      <ion-icon ios="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>調單详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list class="input_list">
    <ion-item>
      <div class="fl">調單日期</div>
      <div class="fr">{{item.datetime.substr(0,10)}}</div>
    </ion-item>
    <ion-item>
      <div class="fl">調單原因</div>
      <div class="fr">{{item.field90}}</div>
    </ion-item>
    <ion-item>
      <div class="fl">MID</div>
      <div class="fr">{{item.field81}}</div>
    </ion-item>
    <ion-item>
      <div class="fl">商戶名稱</div>
      <div class="fr">{{item.field82}}</div>
    </ion-item>
    <ion-item>
      <div class="fl">調單卡號</div>
      <div class="fr">{{item.field83}}</div>
    </ion-item>
    <ion-item>
      <div class="fl">交易金額</div>
      <div class="fr">{{item.field85}} 元</div>
    </ion-item>
    <ion-item>
      <div class="fl">交易日期</div>
      <div class="fr">{{item.field84}}</div>
    </ion-item>
    <ion-item>
      <div class="fl">授權號</div>
      <div class="fr">{{item.field91}}</div>
    </ion-item>
    <ion-item class="datum">
      <div class="top">请您勿必在<span class="colorRed">{{item.field92}}</span>前上传提交以下资料:</div>
      <div class="bottom">
        <div class="div1"> <img src="assets/imgs/radio_{{item.field86==2?'yes':'no'}}.png" class="image1">POS小票</div>
        <div class="div1"> <img src="assets/imgs/radio_{{item.field87==2?'yes':'no'}}.png" class="image1">銷售收據</div>
        <div class="div1"> <img src="assets/imgs/radio_{{item.field88==2?'yes':'no'}}.png" class="image1">其他:{{item.field89}}</div>
      </div>
    </ion-item>
    <ion-item class="camera">
      <div class="top" *ngIf="isEdit">拍照<img class="fr" src="assets/imgs/camera.png" alt="拍照" (click)="openCamera()"></div>
      <ul class="bottom">
        <!--<li *ngFor="let picture of pictures;let i = index" [ngClass]="{'li2':!picture.btn}">-->
        <li *ngFor="let picture of pictures;let i = index" >
          <!--<img [class]="picture.btn?'image1':'image2'" [src]="picture.data" />-->
          <img [class]="picture.btn?'image1':'image2'" [src]="picture.PICTURE" (click)="showPicture(i)" />

          <img class="delete" *ngIf="picture.btn" src="assets/imgs/close_red.png" alt="關閉" (click)="delPic(i)" [hidden]="!isEdit">
        </li>
      </ul>
    </ion-item>
  </ion-list>
  <!--<ion-list class="input_list">-->
    <!--<ion-item class="camera">-->
      <!--<div class="top">拍照<img class="fr" src="assets/imgs/camera.png" alt="拍照" (click)="openCamera()"></div>-->
      <!--<ul class="bottom">-->
        <!--<li *ngFor="let pic of item.pictures;let i = index">-->
          <!--<img class="image1" [src]="pic.data" (click)="showPicture(i)" />-->
          <!--<img class="delete" src="assets/imgs/close_red.png" alt="關閉" (click)="delPic(i)">-->
        <!--</li>-->
        <!--<li class="li2" *ngFor="let pic of polishingPic(item.pictures)">-->
          <!--<img src="assets/imgs/camera_img.png" class="image2" />-->
        <!--</li>-->
      <!--</ul>-->
    <!--</ion-item>-->
  <!--</ion-list>-->
  <ion-list class="input_list">
    <ion-item class="explain">
      <div class="top">补充说明 <span class="colorRed">(非必填项)</span></div>
      <div class="bottom">
        <!--<textarea  class="textarea1" #usercomment rows="3" placeholder="請輸入內容"></textarea>-->
        <textarea [readonly]="!isEdit" class="textarea1" #usercomment rows="3" placeholder="請輸入內容">{{item.field93}}</textarea>
      </div>
    </ion-item>
  </ion-list>

  <div padding margin-top *ngIf="isEdit">
    <button ion-button color="primary" (click)="submitForm(usercomment.value)" block>提交</button>
  </div>
</ion-content>