<ion-header>
	<ion-navbar>
		<button ion-button small clear (click)="dismiss()">
			<ion-icon ios="ios-arrow-back"></ion-icon>
		</button>
		<ion-title>退款进度</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<!--<ion-searchbar placeholder="請輸入搜索內容"></ion-searchbar>-->
	<ion-list class="useList">
		<ion-item *ngFor="let item of items" >
			<!--<div class="left">-->
				<!--<p class="p1">MID：工商银行</p>-->
				<!--<p class="p2">卡号：{{item.field5}}</p>-->
			<!--</div>-->
			<div class="left" *ngIf="item.field2 == '1'" (click)="goRefundDetail(item)">
				<p class="p1">普通退款</p>
				<p class="p2">退款金額：{{item.field69}}</p>
			</div>
			<div class="left" *ngIf="item.field2 == '2'" (click)="goRefundDetail(item)">
				<p class="p1">微信退款</p>
				<p class="p2">退款金額：{{item.field27}}</p>
			</div>
			<div class="left" *ngIf="item.field2 == '3'" (click)="goRefundDetail(item)">
				<p class="p1">工銀e支付退款</p>
				<p class="p2">退款金額：{{item.field27}}</p>
			</div>
			<div class="left" *ngIf="item.field2 == '4'" (click)="goRefundDetail(item)">
				<p class="p1">支付寶退款</p>
				<p class="p2">退款金額：{{item.field27}}</p>
			</div>
			<div class="right" item-end>
				<div class="div2 one" [ngClass]="{'three':item.status == '已审批'}">
					{{item.status}}
				</div>
			</div>
		</ion-item>
	</ion-list>
</ion-content>
