<ion-header>
  <ion-navbar>
    <button ion-button small clear (click)="goBack()">
		<ion-icon ios="ios-arrow-back"></ion-icon>
	</button>
    <ion-title style="text-align:center;" >退款详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-list class="input_list" *ngIf="item.field2 == '1'">

		<ion-item>
			<ion-label>申請編號</ion-label>
			<ion-input [readonly]="true" [value]="item.sequence"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>商戶編號</ion-label>
			<ion-input [readonly]="true" [value]="item.field61"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>商戶名稱</ion-label>
			<ion-input [readonly]="true" [value]="item.field62"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>部門編號</ion-label>
			<ion-input [readonly]="true" [value]="item.field63"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>部门名稱</ion-label>
			<ion-input [readonly]="true" [value]="item.field64"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>退款卡號</ion-label>
			<ion-input [readonly]="true" [value]="'**** **** **** '+item.field65"></ion-input>
		</ion-item>
		<button ion-item class="item-ios" >
			<ion-label>交易日期</ion-label>
			 <ion-input [readonly]="true" [value]= "item.field66"></ion-input>
		</button>
		<ion-item>
			<ion-label>授權號</ion-label>
			<ion-input [readonly]="true" [value]="item.field67"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>原交易金額</ion-label>
			<ion-input [readonly]="true" [value]="item.field68"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>退款金額</ion-label>
			<ion-input [readonly]="true" [value]="item.field69"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>經辦人聯絡電話</ion-label>
			<ion-input [readonly]="true" [value]="item.field70" ></ion-input>
		</ion-item>
		<ion-item class="camera">
			<ul class="bottom">
				<!--<li *ngFor="let pic of  item.pictures;let i = index" >-->
					<!--<img [src]="pic.data" (click)="showPicture(i)" />-->
				<!--</li>-->
				<li *ngFor="let pic of  item.pictures;let i = index" >
					<img [src]="pic.PICTURE" (click)="showPicture(i)" />
				</li>
			</ul>
		</ion-item>

	</ion-list>


	<ion-list class="input_list" *ngIf="item.field2 == '2'">

		<ion-item>
			<ion-label>申請編號</ion-label>
			<ion-input [readonly]="true" [value]="item.sequence"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>部門編號</ion-label>
			<ion-input [readonly]="true" [value]="item.field21"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>部门名稱</ion-label>
			<ion-input [readonly]="true" [value]="item.field22"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>終端號</ion-label>
			<ion-input [readonly]="true" [value]="item.field23"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>交易流水號</ion-label>
			<ion-input [readonly]="true" [value]="item.field24"></ion-input>
		</ion-item>
		<button ion-item class="item-ios" >
			<ion-label>交易日期</ion-label>
			<ion-input [readonly]="true" [value]= "item.field25"></ion-input>
		</button>

		<ion-item>
			<ion-label>原交易金額</ion-label>
			<ion-input [readonly]="true" [value]="item.field26"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>退款金額</ion-label>
			<ion-input [readonly]="true" [value]="item.field27"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>經辦人聯絡電話</ion-label>
			<ion-input [readonly]="true" [value]="item.field28" ></ion-input>
		</ion-item>
		<!--<ion-item class="camera">
			<ul class="bottom">
				<li *ngFor="let pic of  item.pictures;let i = index" >
					<img [src]="pic.data" (click)="showPicture(i)" />
				</li>
			</ul>
		</ion-item>-->
		<ion-item class="camera">
			<ul class="bottom">
				<li *ngFor="let pic of  item.pictures;let i = index" >
					<img [src]="pic.PICTURE" (click)="showPicture(i)" />
				</li>
			</ul>
		</ion-item>

	</ion-list>

	<div class="footer-button" *ngIf="btn">
		<button ion-button block outline color="primary" (click)="goRefundReject()">拒絕審批</button>
		<button ion-button block color="primary" (click)="goApprove()">審批通過</button>
	</div>
</ion-content>