<ion-header>
  <ion-navbar>
    <button ion-button start (click)="goBack()">返回</button>
    <ion-title style="text-align:center;" >退款详情</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-grid *ngIf="item.field2 == '1'">
		<ion-row>
			<ion-col>
				申請編號：
			</ion-col>
			<ion-col>
				{{item.sequence}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				商戶編號：
			</ion-col>
			<ion-col>
				{{item.field61}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				商戶名稱：
			</ion-col>
			<ion-col>
				{{item.field62}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				部門編號：
			</ion-col>
			<ion-col>
				{{item.field63}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				部門名稱：
			</ion-col>
			<ion-col>
				{{item.field64}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				授權號：
			</ion-col>
			<ion-col>
				{{item.field67}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				交易日期：
			</ion-col>
			<ion-col>
				{{item.field66}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				卡號：
			</ion-col>
			<ion-col>
				**** **** **** {{item.field65}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				交易金額：
			</ion-col>
			<ion-col>
				{{item.field68}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				退款金額：
			</ion-col>
			<ion-col>
				{{item.field69}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				經辦人手機號：
			</ion-col>
			<ion-col>
				{{item.field70}}
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col *ngFor="let pic of item.pictures;let i=index" >
				<img [src]="pic.data" (click)="showPicture(i)" />
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid *ngIf="item.field2 == '2'">
		<ion-row>
			<ion-col>
				申請編號：
			</ion-col>
			<ion-col>
				{{item.sequence}}
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				部門編號：
			</ion-col>
			<ion-col>
				{{item.field21}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				部門名稱：
			</ion-col>
			<ion-col>
				{{item.field22}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				終端號：
			</ion-col>
			<ion-col>
				{{item.field23}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				交易流水號：
			</ion-col>
			<ion-col>
				{{item.field24}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				交易日期：
			</ion-col>
			<ion-col>
				{{item.field25}}
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col>
				交易金額：
			</ion-col>
			<ion-col>
				{{item.field26}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				退款金額：
			</ion-col>
			<ion-col>
				{{item.field27}}
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				經辦人手機號：
			</ion-col>
			<ion-col>
				{{item.field28}}
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col *ngFor="let pic of item.pictures;let i=index" >
				<img [src]="pic.data" (click)="showPicture(i)" />
			</ion-col>
		</ion-row>
	</ion-grid>
	<div *ngIf="btn" padding>
		<button ion-button color="primary" (click)="goApprove()" block>审批</button>
	</div>
</ion-content>