page-refundverify {
	> .content{
		background-color: #f3f3f3;
		.searchbar-ios{
			padding: 10px 10px 0; border: 0; background: transparent;
			.searchbar-input-container{border: 1px solid #eaeaea; border-radius: 6px;}
			.searchbar-search-icon{background-image: url("../assets/imgs/search_red.png"); left: 10px; top: 12px;}
			.searchbar-input::-webkit-input-placeholder{color: #ccc;}
		}
		.useList{
			padding: 0 10px;
			.item{
				border: 0; border-radius: 8px; margin-top: 10px; border: 1px solid #eaeaea; font-size: 1.4rem; color: #666; min-height: 70px;
				.item-inner{
					border: 0; padding-right: 0;
					.left{
						padding: 3px 0;
						.p1{font-size: 1.5rem; color: #333;}
						.p2{font-size: 1.3rem; color: #666; margin-top: 5px;}
					}
					.right{
						display: flex; margin: 0; height: 100%;
						.div1{
							width: 50px; border-left: 1px solid #eee; display: flex; align-items: center; flex-direction: column; background: no-repeat top 15px center; background-size: 20px;
							.image1{width: 20px;}
							.p1{font-size: 1.2rem; margin-top: 40px;}
							&.bg1{background-image: url("../assets/imgs/refundverify1_1.png");}
							&.bg2{background-image: url("../assets/imgs/refundverify2_1.png");}
						}
						.div1:active{
							&.bg1{
								background-image: url("../assets/imgs/refundverify1_2.png");
								background-color: color($colors, primary);
								.p1{color: #fff;}
							}
							&.bg2{
								background-image: url("../assets/imgs/refundverify2_2.png");
								background-color: color($colors, primary);
								.p1{color: #fff;}
							}
						}
					}
				}
			}
		}
	}
}
