<ion-header>
    <ion-navbar>
        <button ion-button small clear (click)="dismiss()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>退款</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list no-lines class="item_list" *ngIf="!BtnDisable">
        <button ion-item (click)="goCommonRefund()">
            普通退款
        </button>
    </ion-list>
    <ion-list no-lines class="item_list" *ngIf="!BtnDisable">
        <button ion-item (click)="goWeixinRefund()">
            微信退款
        </button>
    </ion-list>
    <ion-list no-lines class="item_list" *ngIf="BtnDisable">
        <button ion-item (click)="goRefundVerify()">
            退款审批
        </button>
    </ion-list>
    <ion-list no-lines class="item_list">
        <button ion-item (click)="goRefundProgress()">
            退款进度
        </button>
    </ion-list>
</ion-content>
