<ion-header>
  <ion-navbar>
    <button ion-button small clear (click)="goBack()">
      <ion-icon ios="ios-arrow-back"></ion-icon>
    </button>
    <ion-title>微信退款</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="input_list">
    <ion-item>
      <ion-label>商戶名稱</ion-label>
      <ion-input type="text" placeholder="請輸入商戶名稱" #merchantname ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>部门名稱</ion-label>
      <ion-input type="text" placeholder="請輸入部门名稱" #departmentname ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>終端號</ion-label>
      <ion-input type="text" placeholder="請輸入終端號" #wechattid ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>交易流水號</ion-label>
      <ion-input type="text" placeholder="請輸入交易流水號" #wechattrxno ></ion-input>
    </ion-item>
    <button ion-item class="item-ios" >
      <ion-label>交易日期</ion-label>
	  <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" [(ngModel)]="tradeDate"></ion-datetime>
      <!-- <ion-input class="input-date" type="text" #wechattrxdate placeholder="请按格式yyyy-mm-dd输入日期" ></ion-input> -->
    </button>
    <ion-item>
      <ion-label>原交易金額</ion-label>
      <ion-input type="text" placeholder="請輸入原交易金額" #wechattrxamount ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>退款金額</ion-label>
      <ion-input type="text" placeholder="請輸入退款金額" #wechatrefundamount ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >申請人</ion-label>
      <ion-input type="text" placeholder="請輸入申請人" #wechatapplyname ></ion-input>
    </ion-item>
	<ion-item>
      <ion-label >聯絡電話</ion-label>
      <ion-input type="text" placeholder="請輸入申請人聯絡電話" #wechatapplymobile ></ion-input>
    </ion-item>
    <ion-item class="camera">
      <div class="top">拍照<img class="fr" src="assets/imgs/camera.png" alt="拍照" (click)="openCamera()"></div>
      <ul class="bottom">
          <li *ngFor="let picture of pictures;let i = index" [ngClass]="{'li2':!picture.btn}">
              <img [class]="picture.btn?'image1':'image2'" [src]="picture.data" />
              <img class="delete" *ngIf="picture.btn" src="assets/imgs/close_red.png" alt="關閉" (click)="delPic(i)">
          </li>
      </ul>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button color="primary" (click)="submitForm()" block>提交</button>
  </div>

</ion-content>
