// http://ionicframework.com/docs/theming/
@import 'themes/bootstrap';
@import 'themes/dark';
@import 'assets/icons';
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



* ::-webkit-scrollbar {display: none;}
ul,li{padding:0;margin:0;list-style:none}
.fl{float: left;}
.fr{float: right;}
.colorRed{color:color($colors,primary);}

.header-ios{
  background: url("../assets/imgs/index_header.png") no-repeat center; background-size: cover;
  .toolbar-ios{
    .toolbar-background-ios{
      background: transparent; border: 0;
    }
    .toolbar-content{
      justify-content: space-between; display: flex;
    }
    .toolbar-title{
      color: #ffffff; font-weight: inherit; font-size: 1.5rem;
    }
    .button-ios{
      color: #fff;
      .icon{font-size: 1.7em;}
    }
  }
}

.button-block{height: 2.5em; border-radius: 6px;}
.show-page ion-backdrop{display: none;}
.toast-ios .toast-wrapper{background: rgba(0,0,0,0.7); width: 230px; text-align: center;}
.input-wrapper{
  > .input{
    .text-input{width: 100% !important; margin-left: 0 !important;}
  }
  > .cloned-input{
    left: auto !important; right: 16px !important;
  }
}

.tabs-ios .tabbar{
  background-color: #fff; box-shadow: 0px 1px 10px 2px #ddd; border-top: 0; padding-bottom: 5px;
  .tab-button{
    &:nth-child(1) {
      .tab-button-icon{
        background: url("../assets/imgs/index_tab1_1.png") no-repeat center; background-size: 24px;
        &.ion-ios-tab-tab1{
          background: url("../assets/imgs/index_tab1_2.png") no-repeat center;  background-size: 24px;
        }
      }
    }
    //&:nth-child(2) {
    //  .tab-button-icon {
    //    background: url("../assets/imgs/index_tab2_1.png") no-repeat center; background-size: 24px;
    //    &.ion-ios-tab-tab2 {
    //      background: url("../assets/imgs/index_tab2_2.png") no-repeat center; background-size: 24px;
    //    }
    //  }
    //}
    &:nth-child(2) {
      .tab-button-icon {
        background: url("../assets/imgs/index_tab3_1.png") no-repeat center; background-size: 24px;
        &.ion-ios-tab-tab3 {
          background: url("../assets/imgs/index_tab3_2.png") no-repeat center; background-size: 24px;
        }
      }
    }
    .tab-button-text{color: #ccc;}
    &[aria-selected=true]{
      .tab-button-text{color: #333;}
    }
  }
}





