page-orderlist {
	.fl{float: left;}
	.fr{float: right;}
	> .content {
		background-color: #f3f3f3;
		.searchbar-ios {
			padding: 10px 10px 0;
			border: 0;
			background: transparent;
			.searchbar-input-container {
				border: 1px solid #eaeaea;
				border-radius: 6px;
			}
			.searchbar-search-icon {
				background-image: url("../assets/imgs/search_red.png");
				left: 10px;
				top: 12px;
			}
			.searchbar-input::-webkit-input-placeholder {
				color: #ccc;
			}
		}
		.user-hint{
			font-size: 12px; padding: 10px 15px 0; color: #999; line-height: 1.6;
			.red{
				color: #ff0000;
			}
		}
		.useList{
			padding: 0 10px;
			.item{
				border: 0; border-radius: 8px; margin-top: 10px; border: 1px solid #eaeaea; font-size: 1.4rem; color: #666;
				.item-inner{
					border: 0;
					.label{
						margin-top: 0;
						.top{
							font-size: 1.5rem; padding: 10px 0; border-bottom: 1px solid #eaeaea; color: #333;
							&.e-payment{background: url("../assets/imgs/e-payment.jpg") no-repeat left 5px center; background-size: 24px;}
							&.alipay{background: url("../assets/imgs/alipay.jpg") no-repeat left 5px center; background-size: 24px;}
							&.wechatpay{background: url("../assets/imgs/wechatpay.jpg") no-repeat left 5px center; background-size: 24px;}
							&:after{content: ''; display: block; clear: both;}
							.fr{color: #6e8bff; font-size: 1.6rem; line-height: 1.8rem;}
						}
						.bottom{
							padding-top: 5px;
							> p{font-size: 1.3rem; margin-top: 6px;}
						}
					}
				}
			}
		}
	}
}
