<ion-header>
    <ion-navbar>
        <button ion-button small clear (click)="dismiss()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>交易明細</ion-title>
        <!--<button ion-button small clear (click)="goMachineRequest()">-->
            <!--<ion-icon ios="md-add"></ion-icon>-->
        <!--</button>-->
    </ion-navbar>
</ion-header>
<ion-content>
  <!--<ion-list>
		<button ion-item class="item item-block item-ios" *ngFor="let item of items" (click)="openMachineRequestDetail(item)">
			{{item.datetime}}/{{item.currpeople}}
			<div class="button-effect"></div>
		</button>
  </ion-list>-->
    <ion-searchbar placeholder="請輸入搜索內容"></ion-searchbar>
    <ion-list class="useList">
        <ion-item *ngFor="let item of [1,2,3]" (click)="toDetails()">
            <div class="top">
                撤銷<span class="fr">MOP 0.022</span>
            </div>
            <div class="bottom">
                <p>賬單號<span class="fr">000031</span></p>
                <p>原賬單號<span class="fr">000030</span></p>
                <p>交易時間<span class="fr">2018-07-21 12:09:43</span></p>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
