<ion-header>
    <ion-navbar>
        <button ion-button small clear (click)="dismiss()">
            <ion-icon ios="ios-arrow-back"></ion-icon>
        </button>
        <ion-title>收款明細</ion-title>
        <!--<button ion-button small clear (click)="goMachineRequest()">-->
            <!--<ion-icon ios="md-add"></ion-icon>-->
        <!--</button>-->
    </ion-navbar>
</ion-header>
<ion-content>
  <!--<ion-list>
		<button ion-item class="item item-block item-ios" *ngFor="let item of items" (click)="openMachineRequestDetail(item)">
			{{item.datetime}}/{{item.currpeople}}
			<div class="button-effect"></div>
		</button>
  </ion-list>-->
    <ion-searchbar placeholder="請輸入搜索內容"></ion-searchbar>
    <div class="user-hint"><span class="red">*溫馨提示：</span>現僅提供商戶<span class="red">收款二維碼</span>之收款明細，如有疑問，請聯絡銀行客戶經理。</div>
    <!--<ion-list class="useList">-->
        <!--<ion-item *ngFor="let item of [1,2,3]" (click)="toDetails1()">-->
            <!--<div class="top">-->
                <!--撤銷<span class="fr">MOP 0.022</span>-->
            <!--</div>-->
            <!--<div class="bottom">-->
                <!--<p>賬單號<span class="fr">000031</span></p>-->
                <!--<p>原賬單號<span class="fr">000030</span></p>-->
                <!--<p>交易時間<span class="fr">2018-07-21 12:09:43</span></p>-->
            <!--</div>-->
        <!--</ion-item>-->
    <!--</ion-list>-->
    <ion-list class="useList">
        <ion-item *ngFor="let item of items" (click)="toDetails(item)">
            <div class="top" [ngClass]="{
            'e-payment':item.PAY_TYPE.toLowerCase() == 'e-payment',
            'alipay':item.PAY_TYPE.toLowerCase() == 'alipay',
            'wechatpay':item.PAY_TYPE.toLowerCase() == 'wechatpay'
            }">
                <span class="fr">MOP {{item.PAY_AMOUNT/100}}</span>
            </div>
            <div class="bottom">
                <p>商戶號<span class="fr">{{item.MERCHANT_ID}}</span></p>
                <p>交易訂單號<span class="fr">{{item.PAY_ID}}</span></p>
                <p>交易時間<span class="fr">{{item.CREATE_TIME}}</span></p>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more..."
        ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
