page-cashier-scan {
	.toolbar-content{
		display: flex;
		justify-content: space-between;
	}
	.toolbar-title{
		text-align: center;
	}
	ion-icon {
		font-size: 2.2em;
		color: white;
		line-height: 52px;
		margin-right: 0.5rem;
	}
	.helper{
		padding:2rem;
	}
}
